# Ignore dataset folders and large data files
dataset/
**/dataset/
*.tsv
*.parquet
*.h5

# Python cache & temporary build/model log folders
__pycache__/
*.py[cod]
catboost_info/
.DS_Store

# Environments and IDE settings
.venv/
venv/
.vscode/
.idea/
